In [2]:
import pandas as pd
df=pd.read_csv("student_data.csv")
df.head()

   study_hours  attendance  internal_marks  final_result
0            2          60              35             0
1            5          75              55             1
2            1          50              30             0
3            6          80              65             1
4            4          70              50             1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   study_hours     10 non-null     int64
 1   attendance      10 non-null     int64
 2   internal_marks  10 non-null     int64
 3   final_result    10 non-null     int64
dtypes: int64(4)
memory usage: 452.0 bytes

In [4]:
df.describe()

       study_hours  attendance  internal_marks  final_result
count    10.000000   10.000000       10.000000     10.000000
mean      4.300000   71.800000       54.000000      0.600000
std       2.311805   14.649991       17.606817      0.516398
min       1.000000   50.000000       30.000000      0.000000
25%       2.250000   61.250000       41.250000      0.000000
50%       4.500000   72.500000       52.500000      1.000000
75%       5.750000   79.500000       63.750000      1.000000
max       8.000000   95.000000       85.000000      1.000000